Source: accel-ppp
Section: admin
Priority: optional
Maintainer: Aleksey Zhukov <drdaeman@drdaeman.pp.ru>
Standards-Version: 3.8.4
Build-Depends: debhelper (>= 7.0.50~), cmake (>= 2.8), libssl-dev (>= 0.9.8k), libpcre3-dev (>= 7.8), libnl-3-dev (>= 3.2), libsnmp-dev (>= 5.4)
Homepage: http://sourceforge.net/projects/accel-ppp/

Package: accel-ppp
Architecture: any
Depends: libssl1.0.0, libpcre3 (>= 7.8), libnl-3-200 (>= 3.2), ${shlibs:Depends}
Description: High performance PPTP/L2TP/PPPoE server for Linux.

Package: accel-ppp-dbg
Architecture: any
Depends: accel-ppp (= ${binary:Version}), ${misc:Depends}
Description: Debug symbols for accel-ppp.

